table {
  border-collapse: collapse;
  border-color: black;
  border: rgb(0, 0, 0) 5px solid;

  thead {
    font-weight: 700;
  }
  td {
    border: 3px solid black;
  }
}

.encabezado {
  font-weight: 700;
}
div {
  .pad-2 {
    padding: 2cm;
  }
}

.flex {
  flex: 1 1 auto;
}

.scrollable {
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
