<nav class="navbar navbar-dark bg-dark" style="height: 3cm">
  <a class="navbar-brand" style="padding-left: 1cm"
    ><img src="../assets/SIR.png" alt="SIR" style="height: 1cm" /><strong
      style="position: relative; left: 10%"
    >
      Patron Especificación RNF - MDV</strong
    >
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="home()"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <span class="navbar-text"> SIR </span>
  </div>
</nav>
<router-outlet></router-outlet>
